<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then remove the CSS include above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">


    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>

  <body ng-app="starter" ng-controller="startCtrl">

    <div id="notice"></div>

    <ul class="action-bar">
          <li ui-sref="dashboard" class="action-bar-item profile-icon icon icon-large"></li>
          <li ui-sref="medals" class="action-bar-item write-review-icon icon icon-large"></li>
          <li data-view="leaderboard" class="action-bar-item ranking-icon icon icon-large"></li>
          <li class="action-bar-item search-icon icon icon-large"></li>
      </ul>

    <!-- Main template, other templates will be loaded into the MainContent view -->
    <!-- <ion-side-menus>
      <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-stable"></ion-nav-bar>
        <ion-nav-view name="MainContent"></ion-nav-view>
      </ion-pane>
 -->
      <!-- Main template, other templates will be loaded into the MainContent view -->
    <ion-side-menus>
      <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-stable"></ion-nav-bar>
        <ion-nav-view name="MainContent"></ion-nav-view>
      </ion-pane>

      <ion-side-menu side="left">
        <ion-content>
          <ul id="menu-list">
            <li class="menu-section-header"><i class="fa fa-bluetooth-b"></i>Trace</li>
            <li ng-hide="connected == false"><div class="btn btn-blue">Trace is connected</div></li>
            <li ng-hide="connected == true"><div class="btn btn-red">Trace is not connected</div></li>
            <li ng-hide="connected == false || session == true"><a class="btn btn-yellow" style="padding: 0 10px" on-touch="startSession()">Start your session</a></li>
            <li ng-hide="connected == false || session == false"><a class="btn btn-yellow" style="padding: 0 10px" on-touch="stopSession()">End your session</a></li>
            <li class="menu-section-header"><i class="fa fa-lock"></i>Privacy</li>
            <li>
              <label for="checker-privacy-location">
                <input id="checker-privacy-location" type="checkbox" checked="checked"> <span>Hide my location</span>
              </label>
            </li>
            <li>
              <label for="checker-privacy-profile">
                <input id="checker-privacy-profile" type="checkbox" checked="checked"> <span>Make my profile public</span>
              </label>
            </li>
          </ul>
        </ion-content>
      </ion-side-menu>
    </ion-side-menus>
  
    <!-- START -->
    <script id="start.html" type="text/ng-template">
      <ion-view title="" hide-back-button="true">
        <ion-nav-buttons side="left">
            <div class="menu-btn fa fa-bars" menu-toggle="left"></div>
        </ion-nav-buttons>

        <ion-content class="page" ng-controller="startCtrl" ng-init="init()">

          <a class="connect-btn" on-touch="connectTrace()">Connect <span>Trace</span></a>

        </ion-content>
      </ion-view>
    </script>

    <!-- DASHBOARD -->
    <script id="dashboard.html" type="text/ng-template">
      <ion-view title="" hide-back-button="true">
        <ion-nav-buttons side="left">
            <div class="menu-btn fa fa-bars" menu-toggle="left"></div>
        </ion-nav-buttons>        
        <ion-nav-buttons side="right">
          <button class="button" ui-sref="start">Terug</button>
        </ion-nav-buttons>

        <ion-content class="page" ng-controller="dashboardCtrl" ng-init="init()">

          <h2 class="page-title">TRICKS</h2>

          <ul class="trick-list-tabs">
            <li ng-class="{active: showMyTricks==true}" ng-click="showMyTricks = true">My tricks</li>
            <li ng-class="{active: showMyTricks==false}" ng-click="showMyTricks = false">New tricks</li>
          </ul>
          <ul class="trick-list trick-list-my" ng-show="showMyTricks" ng-repeat="i in tricks">
            <li ng-if="i.count > 0">
              <span class="name">{{i.name}}</span>
              <span class="counter">{{i.count}}</span>
            </li>
          </ul>
          <ul class="trick-list trick-list-new" ng-show="!showMyTricks" ng-repeat="i in tricks">
            <li ng-if="i.count == 0">
              <span class="name">{{i.name}}</span>
              <span class="counter">{{i.count}}</span>
            </li>
          </ul>

        </ion-content>
      </ion-view>
    </script>

    <!-- MEDALS -->
    <script id="medals.html" type="text/ng-template">
      <ion-view title="" hide-back-button="true">
        <ion-nav-buttons side="left">
            <div class="menu-btn fa fa-bars" menu-toggle="left"></div>
        </ion-nav-buttons>        
        <ion-nav-buttons side="right">
          <button class="button" ui-sref="start">Terug</button>
        </ion-nav-buttons>

        <ion-content class="page" ng-controller="medalsCtrl" ng-init="init()">

          <h2 class="page-title">TRICKS</h2>

          <ul class="trick-list-tabs">
            <li ng-class="{active: showMyTricks==true}" ng-click="showMyTricks = true">My tricks</li>
            <li ng-class="{active: showMyTricks==false}" ng-click="showMyTricks = false">New tricks</li>
          </ul>
          <ul class="trick-list trick-list-my" ng-show="showMyTricks" ng-repeat="i in tricks">
            <li ng-if="i.count > 0">
              <span class="name">{{i.name}}</span>
              <span class="counter">{{i.count}}</span>
            </li>
          </ul>
          <ul class="trick-list trick-list-new" ng-show="!showMyTricks" ng-repeat="i in tricks">
            <li ng-if="i.count == 0">
              <span class="name">{{i.name}}</span>
              <span class="counter">{{i.count}}</span>
            </li>
          </ul>

        </ion-content>
      </ion-view>
    </script>

  <script src="js/jquery-1.10.2.js"></script>
  <script src="js/controllers.js"></script>
  </body>
</html>
